<%-include("partials/header") %>
    <form action="/updateexpense/<%= id %>" method="POST">
        <div class="form-group">
            <label for="licensedet">Expense Date</label>
            <input type="text" name="exp_date" class="form-control" value="<%= date %>">
        </div>
        <div class="form-group">
            <label for="driveridexample">Driver ID</label>
            <input type="number" name="driverID" class="form-control" value="<%= driverid %>">
        </div>
        <div class="form-group">
            <label for="expense amount">Amount</label>
            <input type="number" name="amount" class="form-control" value="<%= amount %>">
        </div>
        <div class="form-group">
            <label for="carmodel">Description</label>
            <input type="text" name="description" class="form-control" value="<%= description %>">
            <!-- <textarea name="description" rows="4" cols="50"></textarea> -->
        </div>
        <button type="submit" class="btn btn-primary">update</button>

    </form>
    </body>

    </html>